@page "/"
@page "/about"

    <div class="m-3 mr-3">
        <Card WhiteText="true" Background="Background.Dark">
            <CardHeader>
                Gerenciador de Documentos
            </CardHeader>
            <CardBody>
                <a>Desenvolvedor: Mathias Hemmer <br></a>
                <a>Ultima atualização: 03/05/2020<br></a>
                <a>Versão: 1.0.0<br></a>
                <p>Tecnologias utilizadas:</p>
                <ul>
                    <li>.NET CORE 3.1 - REST API</li>
                    <li>Blazor Server - MVC</li>
                    <li>Blazorise</li>
                    <li>Entity Framework CORE</li>
                    <li>MySQL Database</li>
                    <li>MySQL EF Adatper - Pomelo</li>
                </ul>
            </CardBody>
            <CardFooter>
                Mathias Hemmer &copy; 2020
            </CardFooter>
        </Card>
    </div>
