<Sidebar>
    <SidebarContent>
        <SidebarBrand>
            <span class="badge badge-light m-3">
                Doc.s
            </span>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarLabel>Documentos</SidebarLabel>
            <SidebarItem>
                <SidebarLink To="document" Title="Documentos">
                    <Icon Name="@("fa-file-upload")" Margin="Margin.Is3.FromRight" />Documentos
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="category" Title="Categorias">
                    <Icon Name="@("fa-cat")" Margin="Margin.Is3.FromRight" />Categorias
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="about" Title="Sobre">
                    <Icon Name="@("fa-question")" Margin="Margin.Is3.FromRight" />Sobre
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>
